.add-university-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #8AB1EF;
  border: none;
  color: #fff;
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  font-weight: 530;
  font-family: 'Montserrat', sans-serif;
  width: 20%;
}

.add-icon {
    fill: currentColor;
    color:#007bff;
}

.add-university-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.add-university-btn:hover .add-icon {
  fill: #fff;
}

.add-icon {
  width: 20px;
  height: 20px;
  fill: #a1aae1;
  transition: fill 0.3s ease;
}